extends layout
block content

  div.pagetitle
   h1= title


  p Welcome to #[em TvShow Catalog], Atlas-backed, Heroku application developed for Software Development for Cloud project.
  p You can visit genre page to see tvshows listed for each genre or visit tvshows page to see all the shows in one place.
  p By registering to our website you can get access to greater tvshow database and to our movie database.

  h3  Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The tv show library has the following record counts:

    ul
      li #[strong TvShows:] !{data.tvshow_count}
      li #[strong Genres:] !{data.genre_count}

  h1 About Us 

  p We are Group 14. And our group has two members Nilay Yilmaz and Kristian Katona. In this project we shared the workload 
  p between each other. While Kristian was working with backend other group member Nilay worked with frontend. 
  p We worked together on database connection and reading and writing from/to database. Even though we shared the work we still 
  p helped each other and did some stuff together. 